<!DOCTYPE html>
<html>
    <head>
        <title>registration</title>
    </head>
    <body bgcolor="green" align="center">
        <h1><u>SHOP REGISTRATION</u></h1> 
        <form method="post">
            <table align="center">
                <tr>
                    <th>Username</th>
                    <td><input type="text" name="uname"></td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td><input type="text" name="psw"></td>
                </tr>
                <tr>
                    <th>Shop_name</th>
                    <td><input type="text" name="sname"></td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td><input type="text" name="latitude" id=""></td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td><input type="text" name="longitude"></td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td><input type="text" name="phone"></td>
               </tr>
               <tr>
                <th>Email</th>
                <td><input type="text" name="email"></td>
               </tr>
               <tr>
                <td colspan="2"><input type="submit" name="submit"></td>
               </tr>
            </table>
        </form>       
    </body>
</html>