<html>
    <head>
        <title>spare parts</title>
    </head>
    <body style="background-color: crimson;" align="center">
        <h1>SPARE_PARTS</h1>
        <table align="center">
            <form action="" method="post"></form>
            <tr>
                <th>Spare_Part_Name</th>
                <td><input type="text" name="sparts" id=""></td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td><input type="text" name="qty" id=""></td>
            </tr>
            <tr>
                <th>Price</th>
                <td><input type="text" name="price" id=""></td>
            </tr>
            <tr>
                <th>Description</th>
                <td><input type="text" name="description" id=""></td>
            </tr>
            <tr>
                <th>Image</th>
                <td><input type="text" name="img"></td>
            </tr>
            <tr>
                <td><input type="submit" name="submit" id=""></td>
            </tr>

        </table>
    </body>
</html>