<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WELCOME</title>
    </head>
    <body style="background-image: url(https://wallpapercave.com/wp/wp8593174.jpg);background-size: cover;">
        <center><h1 style="color:aqua"><b>WELCOME TO AUTOCARE</b></h1></center>
        <center> <a style="color: azure;" href="/log">login</a></center>
        <center> <a style="color: blue;" href="/shop">shop</a></center>    
        <center> <a style="color: blueviolet;" href="/service_center">service centre</a></center>
    </body>
</html>